
/* This styling is to apply for the entire web page */
*{
	box-sizing: border-box;
}
html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	text-decoration: none;
	
}

/* This styling is to apply for a desktop/laptop computer*/

@media only screen and (max-width: 1600px) {
	#home-button img{
		width: 200px;
		margin-bottom: 10px;
	}

	main {
		border: 5px solid red;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center, space-around;
		background: rgba(255,255,255,0.8);
		height: 350px;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	main button {
		width: 300px;
		height: 40px;
		font-size: 20px;
		background-color: red;
		color: white;
		border-radius: 8px;
	}

	main img{
		width: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	section{
		height: 100px;
	}

	section ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	section li{
		display: inline-block;
		padding: 0px;
		font-size: 35px;
		margin: 0px;
	}

	section img{
		width: 50px;
	}

	.feedback {
		width: 400px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.feedback img{
		width: 100px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around, center;
	}

	.question-form label{
		display: block;
		text-align: left;
	}
}

/* This styling is to apply for cellular devices. */

@media only screen and (max-width: 800px) {

	#home-button img {
		width: 200px;
	}

	main {
		border: 5px solid red;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: rgba(255,255,255,0.8);
		height: 450px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	section{
		height: 100px;
	}

	section ul{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	section li{
		display: inline-block;
		padding: 0px;
		font-size: 35px;
		margin: 0px;
	}

	section img{
		width: 50px;
	}

	.feedback {
		width: 400px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
		display:block;
	}

	.feedback img{
		width: 100px;
		margin-right: auto;
		margin-left: auto;
	}

	.question-form label{
		display: block;
		text-align: left;
	}

}
