*{
	box-sizing: border-box;
}
html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	text-decoration: none;
	
}

@media only screen and (max-width: 2000px) {
	#home-button img{
		width: 200px;
	}

	main {
		border: 5px solid red;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: .7;
		height: 300px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	section{
		height: 100px;
	}

	section ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	section li{
		display: inline-block;
		padding: 0px;
		font-size: 35px;
		margin: 0px;
	}

	section img{
		width: 50px;
	}

	#feedback {
		width: 400px;
		height: 300px;
		margin-left: auto;
		margin-right: auto
	}

	#feedback img{
		width: 50px;
		margin-right: auto;
		margin-left: auto;
	}

	.question-form label{
		display: block;
		text-align: left;

	}
}

@media only screen and (max-width: 400px) {


}
